:root{
    --vermelhoHeader: #2C0000;
    --vermelhoTexto: #B80000
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--vermelhoHeader);
}
.logoHeader{
    display: flex;
    align-items: center;
    color: var(--vermelhoTexto);
}